<div class="row">
  <div class="col-md-12">
    <br/>
    <button type="button" class="btn btn-success" (click)="showPopupGastgeber('', content);">neue Gastgeberadresse</button>&nbsp;&nbsp;
    <button type="button" class="btn btn-light" (click)="downloadGastgeberFile();"><span class="icon-cloud-download"></span></button>
    <br/>
    <br/>
    <div class="input-group mb-3" style="max-width: 500px;">
      <input type="text" class="form-control" placeholder="Stichwort" aria-label="Stichwort" aria-describedby="basic-addon2" [(ngModel)]="suchwort">
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="submit" (click)="setSuchwort()"><span class="icon-magnifier"></span></button>
        <button class="btn btn-outline-secondary" type="button" (click)="resetSuchwort()">alle</button>
        <button class="btn btn-outline-secondary" type="button" (click)="reloadAktivGastgeber()">alle Aktiv-GG</button>
        <button class="btn btn-outline-secondary" type="button" (click)="showHelp()"><span class="icon-question"></span></button>
      </div>
    </div>

    <!-- Pager -->
    <nav aria-label="...">
        <ul class="pagination">
          <li *ngFor="let pn of pageNumbers" class="page-item" [ngClass]="getPageNrActiveClassName(pn)">
            <a class="page-link" [routerLink]="" (click)="gotoPage(pn)">{{pn}}</a>
          </li>
        </ul>
      </nav>
       <!-- Gastgeber-Tabelle-->
    <table class="table table-sm table-hover table-scrollable" style="line-height: 1;">
      <thead>
        <tr>
          <th scope="col">Name / Adresse</th>
          <th scope="col">Kommunikation</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let gg of gastgeberList">
            <td>{{gg.Nachname}} {{gg.Vorname}}
                <br/>
                <span style="font-size:x-small" class="text-muted">{{gg.Strasse}}</span><br/>
                <span style="font-size:x-small" class="text-muted">{{gg.PLZ}} {{gg.Ort}}</span>
              </td>
          <td>{{gg.Telefon}}<br/>
            <span style="font-size:x-small" class="text-muted">{{gg.EMail}}</span><br/>
          </td>

          <td style="text-align: end;">
            <button type="button" class="btn btn-success" (click)="showPopupGastgeber(gg.IDObj, content);">
              <img src="/assets/icons_white/32px/large/tool-pencil.png" style="height:20px">
            </button>&nbsp;
            <!-- <button type="button" class="btn btn-danger" (click)="showPopupDeleteGastgeber(gg.IDObj);">
              <img src="/assets/icons_white/32px/large/button-cancel.png" style="height:20px">
            </button> -->
          </td>
        </tr>
      </tbody>
    </table>

  </div>
</div>

<!-- Popup Gastgeber bearbeiten -->
<dx-popup class="popup" [width]="500" [height]="660" [showTitle]="true" title="Gastgeberadresse bearbeiten" [dragEnabled]="false"
  [closeOnOutsideClick]="false" [(visible)]="popupGastgeberVisible">
  <div *dxTemplate="let data of 'content'">

    <br/>
    <div class="form-group">
      <label for="_captionGG">Gesamtumsatz Aktiv-Gastgeberwettbewerb 2017/2018</label>
      <input type="number" class="form-control" id="_captionGG" aria-describedby="c7" placeholder="" [(ngModel)]="currentGastgeber.UmsatzAktivWettbewerb">
      <br/>
    </div>
    <button type="button" class="btn btn-success" (click)="saveGastgeber()">speichern</button>
  </div>
</dx-popup>

<dx-popup class="popup" [width]="400" [height]="300" [showTitle]="true" title="Gastgeberadresse löschen" [dragEnabled]="false"
  [closeOnOutsideClick]="false" [(visible)]="popupDeleteGastgeberVisible">
  <div *dxTemplate="let data of 'content'">
    <p>Möchen Sie wirklich die Gastgeberadresse {{currentGastgeber.Nachname}} {{currentGastgeber.Vorname}} löschen?</p>
    <p>
      <b>Achtung! Löschen Sie keine Aktiv-Gastgeberin, da sonst ihr Umsatz nicht mehr berechnet werden kann!!</b>
    </p>
    <button type="button" class="btn btn-danger" (click)="deleteGastgeber()">ja, ich möchte löschen!</button>
  </div>
</dx-popup>

<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Gastgeber-Formular</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group row">
      <label for="_caption1" class="col-sm-2 col-form-label">Nachname</label>
      <div class="col-sm-9" style="margin-bottom: 5px;">
        <input type="text" class="form-control" id="_caption1" aria-describedby="c1" placeholder="" [(ngModel)]="currentGastgeber.Nachname">
      </div>

      <label for="_caption2" class="col-sm-2 col-form-label">Vorname</label>
      <div class="col-sm-9" style="margin-bottom: 5px;">
        <input type="text" class="form-control" id="_caption2" aria-describedby="c2" placeholder="" [(ngModel)]="currentGastgeber.Vorname">
      </div>

      <label for="_caption3" class="col-sm-2 col-form-label">Strasse</label>
      <div class="col-sm-9" style="margin-bottom: 5px;">
        <input type="text" class="form-control" id="_caption3" aria-describedby="c3" placeholder="" [(ngModel)]="currentGastgeber.Strasse">
      </div>

      <label for="_caption4" class="col-sm-2 col-form-label">PLZ</label>
      <div class="col-sm-9" style="margin-bottom: 5px;">
        <input type="text" class="form-control" id="_caption4" aria-describedby="c4" placeholder="" [(ngModel)]="currentGastgeber.PLZ">
      </div>

      <label for="_caption5" class="col-sm-2 col-form-label">Ort</label>
      <div class="col-sm-9" style="margin-bottom: 5px;">
        <input type="text" class="form-control" id="_caption5" aria-describedby="c5" placeholder="" [(ngModel)]="currentGastgeber.Ort">
      </div>

      <label for="_caption6" class="col-sm-2 col-form-label">Telefon</label>
      <div class="col-sm-9" style="margin-bottom: 5px;">
        <input type="text" class="form-control" id="_caption6" aria-describedby="c6" placeholder="" [(ngModel)]="currentGastgeber.Telefon">
      </div>

      <label for="_caption7" class="col-sm-2 col-form-label">E-Mail</label>
      <div class="col-sm-9" style="margin-bottom: 5px;">
        <input type="text" class="form-control" id="_caption7" aria-describedby="c7" placeholder="" [(ngModel)]="currentGastgeber.EMail">
      </div>

      <!-- <div class="form-group">
        <label for="_captionGG" class="col-12 row-form-label text-info">Gesamtumsatz Aktiv-Gastgeberwettbewerb 2017/2018</label>
        <input type="number" lang="de-DE" class="form-control ml-3 mr-3" id="_captionGG" aria-describedby="c77" placeholder="" [(ngModel)]="currentGastgeber.UmsatzAktivWettbewerb">
      </div> -->
      <span class="mx-3">Gesamtumsatz Aktiv-GG-Wettbewerb 2017/18</span>
      <dx-number-box format="###,###,##0.00" [(ngModel)] = "currentGastgeber.UmsatzAktivWettbewerb" [showSpinButtons]="false" [showClearButton]="false" style="width:100vw" class="mx-3"></dx-number-box>

      <div class="col-sm-12" style="margin-bottom: 5px;">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" [(ngModel)]="currentGastgeber.IsAktivGastgeber" id="defaultCheck0">
          <label class="form-check-label" for="defaultCheck0">
            Diese Gastgeberin ist eine Aktiv-Gastgeberin
          </label>
        </div>
      </div>
      <br/>
      <div class="col-sm-12" style="margin-bottom: 5px;">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" [(ngModel)]="currentGastgeber.AllowSaveAddress" id="defaultCheck1">
          <label class="form-check-label" for="defaultCheck1">
            Gastgeberin erlaubt das Speichern ihrer Adresse
          </label>
        </div>
      </div>
      <div class="col-sm-12" style="margin-bottom: 5px;">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" [(ngModel)]="currentGastgeber.AllowTransferToLFB" id="defaultCheck2">
          <label class="form-check-label" for="defaultCheck2">
            Gastgeberin erlaubt weitergeben ihrer Adresse an eine andere Fachberaterin
          </label>
        </div>
      </div>
      <div class="col-sm-12" style="margin-bottom: 5px;">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" [(ngModel)]="currentGastgeber.AllowNewsletter" id="defaultCheck3">
          <label class="form-check-label" for="defaultCheck3">
            Gastgeberin darf über Neuigkeiten und Veranstaltungen informiert werden
          </label>
        </div>
      </div>

    </div>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="deleteGastgeber()">löschen!</button>
    <button type="button" class="btn btn-success" (click)="saveGastgeber()">speichern</button>
  </div>
</ng-template>
<!--button class="btn btn-outline-primary mb-2 mr-2" (click)="openLg(content)">Large modal</button-->
