
<div *ngIf="blogPosts" class="row">
  <div class="col col-sm-9">
    <!-- Anzeige der nicht lieferbaren Artikeln -->
    <div *ngIf="artikelNichtLieferbarArray">

          <p style="color:#BE392B; line-height: 1em;">
            <b>Nicht lieferbare Artikel:</b>
          </p>
          <!--span style="color: white; font-weight: bold; background: #BE392B; border-radius: 4px; padding: 3px 8px 3px 8px">!!! momentan nicht lieferbare Artikel: Tülle C01, Knusperbiene 1138</span-->
          <div *ngFor="let art of artikelNichtLieferbarArray"  style="display: inline-block; color: white; font-weight: bold; text-align: center; background: #BE392B; border-radius: 4px;padding:3px 5px 3px 5px; margin-right: 5px; margin-bottom: 5px;"
            placement="top" ngbTooltip="{{art.Bezeich}}">
            <img src="https://portal.lumara.de/images/artikel/thumbs80/{{art.EdvNr}}.jpg" style="height:35px; border-radius: 4px;" /> <br/> {{art.EdvNr}}
          </div>

      </div>
    <!-- ENDE nicht lieferbare Artikel -->

    <!-- Blog-Posts -->
    <div class="post" *ngFor="let blogPost of blogPosts" style="margin-top: 15px;">
      <div class="postdate" style="position: absolute; width: 80px; text-align: center; border: solid 1px black; background-color: #403E48; color: white; border-radius: 8px;">
        <span style="font-size: xx-large; font-weight: bold; padding-top: 0px; margin-top: 0px">{{blogPost.TimeCreated | date:'dd'}}</span>
        <br/>
        <span>{{blogPost.TimeCreated | date:'MMM'}}</span>
      </div>
      <div class="postcontent">
        <!-- ATTACHMENTS -->
        <div style="float:right;max-width:35%">
          <div *ngFor="let att of blogPost.Attachments" style="background-color:rgb(240,240,240); margin-bottom:2px;">
            <a [href]="GetFileStoreFileUrl(att.FileID, att.Filename)">
              <img [src]="GetIconUrl(att.FileExtension)" style="vertical-align: middle; background-color:transparent;" />
              <span style="font-size:11pt;">{{att.Filename}}</span>
            </a>
          </div>
        </div>
        <!-- MARKDOWN -->
        <section class="markdown">
          <!--div markdown [data]="blogPost.Preview"></div -->
          <div [innerHTML]="blogPost.Preview"></div>
          <a *ngIf="!blogPost.IsComplete" [routerLink]="['/news', blogPost.ID]">weiterlesen...</a>
          <br/>
        </section>
      </div>

      <hr>
    </div>
    <!-- ENDE Blog-Posts -->
    <br/>

  </div>

  <div class="col col-sm-3">
    <div style="background: #BE392B; color: white; border-radius: 6px; margin-top: 10px; padding-left:10px;padding-right:10px;padding-bottom:10px;">
      <h4 class="text-white">Sonderangebote</h4>
      <div *ngFor="let flyerinfo of flyerinfos" >
        <a [href]="flyerinfo.Url">
          <img [src]="getThumbnailUrl(flyerinfo.Url,1)" style="width: 100%; " /><br/>
          <img [src]="getThumbnailUrl(flyerinfo.Url,2)" style="width: 100%; " />
        </a>
        <br/>
      </div>

      <br/>
      <!--a href="https://portal.lumara.de/flyer/Flyer_KW_27_35.pdf">
        <img src="https://portal.lumara.de/flyer/Flyer_KW_27_35_01.jpg" style="width: 100%; " />
        <img src="https://portal.lumara.de/flyer/Flyer_KW_27_35_02.jpg" style="width: 100%; " />
      </!--a -->
    </div>
  </div>
</div>
