<div class="row">
  <div class="col-12">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a [routerLink]="['/chefstatistik', 'menu']">Chefstatistik</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Auswertung Aktiv-Gastgeber-Wettbewerb</li>
      </ol>
    </nav>
  </div>
</div>
<div class="row" *ngIf="gastgeberStatistikItems">
  <div class="col-12">
    <!--button class="btn mb-4">abrufen</button-->
    <span>Es wurden {{gastgeberStatistikItems.length}} Aktivgastgeber gefunden</span>
    <br/>
    <!-- Fachberater-Gruppenzeile -->
    <table class="table table-hover table-scrollable">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Ort</th>
          <th scope="col">Umsatz</th>
          <th scope="col">UmsatzManual</th>
          <th scope="col">Fachberater</th>
          <th scope="col">Gruppenleiter</th>
          <th scope="col">Bezirksleiter</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let gg of gastgeberStatistikItems">
          <td>{{gg.Nachname}} {{gg.Vorname}} </td>
          <td>{{gg.Ort}}</td>
          <td>{{gg.Umsatz | number:'1.0-0':'de'}} €</td>
          <td>{{gg.UmsatzManual | number:'1.0-0':'de'}} €</td>
          <td>{{gg.LFBName}}</td>
          <td>{{gg.GPLName}}</td>
          <td>{{gg.BZLName}}</td>
          <!--td style="text-align: end;">
              <button type="button" class="btn btn-success" (click)="showPopupGastgeber(gg.IDObj);">
                <img src="/assets/icons_white/32px/large/tool-pencil.png" style="height:20px">
              </button>&nbsp;
              <button type="button" class="btn btn-danger" (click)="showPopupDeleteGastgeber(gg.IDObj);">
                <img src="/assets/icons_white/32px/large/button-cancel.png" style="height:20px">
              </button>
            </td-->
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
