<div class="row">
  <div class="col">
    <h2>Aktiv-Gastgeberwettbewerb</h2>
    <table class="table table-light">
      <tr>
        <td>Laufzeit:</td>
        <td><strong>KW13/2017 bis KW10/2018</strong></td>
      </tr>
      <tr>
        <td>Mindestumsatz:</td>
        <td><strong>1.200 €</strong></td>
      </tr>
      <tr>
        <td>Anzahl der Vorträge:</td>
        <td><strong>mind. 3</strong></td>
      </tr>
    </table>
    <br>
    <p><strong>Ihre Aktivgastgeber, die diesen Wettbewerb erreicht haben:</strong></p>
    <div *ngIf="gastgeberStatistikItems">
      <span style="color: brown; font-weight: bold" *ngFor="let gg of gastgeberStatistikItems">
        {{gg.Nachname}} {{gg.Vorname}},
        <!-- {{gg.Nachname}} {{gg.Vorname}}, Umsatz = {{gg.UmsatzManual | number:'1.0-0':'de'}}€ -->
       </span>
    </div>
    <div *ngIf="showEmptyGastgeberList"><p style="color: brown; font-weight: bold">keine Ihrer Gastgeber hat den Wettbewerb erreicht :-(</p></div>

    <br>
    <p><strong>Falls etwas nicht stimmen sollte:</strong></p>
    <ul>
      <li>prüfen Sie nach, ob Sie bei Ihren Gastgebern die richtigen Summen eingegeben haben (<strong>Achtung: Bitte Gastgeber NIE doppelt eingeben!</strong>)</li>
      <li>Wenn diese Summen stimmen, dann schreiben Sie bitte eine Korrektur-E-Mail an <a href="mailto:nannette.blaurock@lumara.de">nannette.blaurock@lumara.de</a>. In dieser Mail
        sollten die Gastgeber-Namen, der Umsatz und das Vortragsdatum enthalten sein!!
      </li>
    </ul>
  </div>
</div>

<hr>

<div class="row"  *ngIf="chartDataJahresspiegel">
  <div class="col">
      <h2>{{chartDataJahresspiegel.Caption}}</h2>
  </div>

</div>
<div class="row" *ngIf="chartDataJahresspiegel">
  <div  class="col-12">
    <dx-chart id="chart" [dataSource]="chartDataJahresspiegel.Statistik" resolveLabelOverlapping="hide">
      <dxo-legend [visible]="false"></dxo-legend>
      <dxi-value-axis>
        <dxo-label [visible]="false"></dxo-label>
      </dxi-value-axis>
      <dxi-series argumentField="Label" valueField="Value" type="bar" color="#ffaa66" >
        <dxo-label [visible]="true" rotationAngle="0" [showForZeroValues]="false" backgroundColor="#BE392B">
          <dxo-format type="###,###" [precision]="0"></dxo-format>
        </dxo-label>
      </dxi-series>
    </dx-chart>
  </div>
</div>

<hr>

<div class="row mt-4"  *ngIf="chartDataJahresstatistik">
  <div class="col">
      <h2>{{chartDataJahresstatistik.Caption}}</h2>
  </div>

</div>
<div class="row" *ngIf="chartDataJahresstatistik">
  <div  class="col-12">
    <dx-chart id="chart" [dataSource]="chartDataJahresstatistik.Statistik" resolveLabelOverlapping="hide">
      <dxo-legend [visible]="false"></dxo-legend>
      <dxi-value-axis>
        <dxo-label [visible]="true"><dxo-format type="###,###" [precision]="0"></dxo-format></dxo-label>
      </dxi-value-axis>
      <dxi-series argumentField="Label" valueField="Value" type="bar" color="#ffaa66" >
        <dxo-label [visible]="false" rotationAngle="0" [showForZeroValues]="false" backgroundColor="#BE392B">
          <dxo-format type="largeNumber" [precision]="1"></dxo-format>
        </dxo-label>
      </dxi-series>
    </dx-chart>
  </div>
</div>
