<div style="margin: auto; width: 350px;">

  <div style="margin-top: 100px; width: 350px;">
    <div style="text-align: center">
      <img src="../assets/logomittel.png" style="height:120px;">
    </div>
    <br/>
    <br/>
    <!--<span class="glyphicon glyphicon-users"></span><h3>Bitte loggen Sie sich ein!</h3>-->
    <form (ngSubmit)="onSubmit(f)" #f="ngForm">
      <div class="form-group">
        <label for="username">E-Mail-Adresse oder Personalnummer</label>
        <input type="text" id="username" class="form-control" [ngModel]="username" name="username">
      </div>
      <div class="form-group">
        <label for="password">Kennwort</label>
        <input type="password" id="password" class="form-control" [ngModel]="password" name="password">
      </div>

      <!--div class="form-group">
        <dx-check-box [ngModel]="autologin" name="autologin">auto</dx-check-box>
        <span> automatisch anmelden</span>
      </div-->
      <div>
        <button type="submit" [disabled]="!f.valid" class="btn action-button" style="position: relative; right: 0px;">einloggen</button>
      </div>
    </form>
  </div>
</div>
