<!--div class="row">
  <div class="col">
<ngb-carousel *ngIf="imageInfos" style="max-width:100%; width: 100%;">
    <ng-template ngbSlide *ngFor="let imageInfo of this.imageInfos">
      <img class="image-fluid" src="http://localhost:8990/images/gallery/{{this.galleryID}}/{{imageInfo.Filename}}" alt="Random first slide">
      <div class="carousel-caption">
        <h3>imageInfo.Caption</h3>

      </div>
    </ng-template>
  </ngb-carousel>
</div>
</div-->

<div  style="width: 100%; position:relative" class="bg-dark">
  <img [src]="currentImageUrl" class="image-fluid" style="width:100%">
  <a *ngIf="this.currentIndex > 0" [routerLink]="" (click)="prevImage();" style="position: absolute; top:20px; left:20px; text-decoration: none; ">
    <div>
      <span class="icon-arrow-left text-dark" style="font-size: 60px; text-shadow: 0px 0px 5px #DDD,
      0px 0px 10px #DDD,
      0px 0px 15px #DDD;"></span>
    </div>
  </a>

  <span class="text-center text-dark" style="position:absolute; top:20px; left:0px; right:0px; font-size: x-large; text-shadow: 0px 0px 3px #DDD,
  0px 0px 6px #DDD,
  0px 0px 8px #DDD;">
    {{currentCaption}}
  </span>

  <a *ngIf="this.currentIndex < this.maxIndex" [routerLink]="" (click)="nextImage();" style="position: absolute; top:20px; right:20px; text-decoration: none; ">
      <div>
        <span class="icon-arrow-right text-dark" style="font-size: 60px; text-shadow: 0px 0px 5px #DDD,
        0px 0px 10px #DDD,
        0px 0px 15px #DDD;"></span>
      </div>
    </a>
</div>
