/*I love me some border-box*/
* {
    box-sizing: border-box;
}
/*This just stops me getting horizontal scrolling if anything overflows the width*/
body {
    overflow-x: hidden;
}
/*Just removing default browser padding/margin*/
html,
body {
    padding: 0;
    margin: 0;
    color: black;
}
/*Flexbox gives us the flexiness we need. The top just stays put as there is no scrolling on the body due to the page never exceeding viewport height*/
.Top {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: white;
    font-size: 3rem;
    position: relative;
    z-index: 10;
    height: 80px;
}
/*This is our main wrapping element, it's made 100vh high to ensure it is always the correct size and then moved into place and padded with negative margin and padding*/
.Container {
    display: flex;
    overflow: hidden;
    height: 100vh;
    margin-top: -100px;
    padding-top: 100px;
    position: relative;
    width: 100%;
    backface-visibility: hidden;
    will-change: overflow;
}
/*All the scrollable sections should overflow and be whatever height they need to be. As they are flex-items (due to being inside a flex container) they could be made to stretch full height at all times if needed.
WebKit inertia scrolling is being added here for any present/future devices that are able to make use of it.
*/
.Left,
.Middle,
.Right {
    overflow: auto;
    height: auto;
    padding: .5rem;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
}
/*Entirely optional – just wanted to remove the scrollbar on WebKit browsers as I find them ugly*/
.Left::-webkit-scrollbar,
.Middle::-webkit-scrollbar,
.Right::-webkit-scrollbar {
    display: none;
}
/*  Left and Right are set sizes while the Middle is set to flex one so it occupies all remaining space. This could be set as a width too if prefereable, perhaps using calc.*/
.Left {
    width: 150px;
    background-color: #403E48;
    text-align: center;
    color: white;
}

.Middle {
    flex: 1;
    padding-left: 20px;
}

.Right {
    width: 12.5rem;
    background-color: violet;
}


/* Navigationsmenu-Styles */
.nav-menu {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}
.nav-menuitem a {
    display: block;
    width: 100%;
    color: white;
    padding-left: 0px;
    padding-top: 11px;
    margin-bottom: 4px;
    height:80px;
    text-decoration: none;
    /*font-size: 1.3em;*/
}
.nav-menuitem a:hover {
    background-color: #BE392B;
}
.nav-active a {
    background-color: #BE392B;
    color: white;
}
/* ************************/


.table td, .table th {
  padding: .3rem;
}

.table-scrollable {
  width: 100%;
  overflow-y: auto;
  margin: 0 0 1em;
}

.table-scrollable::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 14px;
  height: 14px;
}

.table-scrollable::-webkit-scrollbar-thumb {
  border-radius: 8px;
  border: 3px solid #fff;
  background-color: rgba(0, 0, 0, .3);
}
