/*** Allgemein ***/
body, p, span {
  font-family: 'Roboto';
}

h1, h2, h3, h4, h5, h6, .font-alt {
  font-family: 'Roboto Condensed';
  font-weight:300;
  color: #BE392B;
}

main {
  margin-top: 80px;
}

/*** Navbar ***/
#home .logo {
  height: 45px;
  -webkit-filter: drop-shadow(1px 1px 1px #FFF);
  filter: drop-shadow(1px 1px 1px #FFF);
}
.navbar .avatar {
  height: 40px;
  width: 40px;
  background-position: center;
  background-size: cover;
  display: inline-block;
}

.breadcrumb {
  border-radius: 0px;
}

/*** News-Posts ***/
.postcontent {
  padding-top: 0px;
  padding-left: 90px;
}

.markdown img {
  max-width: 100%;
  height: auto;
}

/*** Gallerie-Cards ***/
.card {
  /*background-color: lightslategrey;*/
}

.card-img-top {
  height: 150px;

  object-fit: cover;
}

/*** RESPONSIVE-DESIGN ***/
/*** schmale Darstellung ***/
@media screen and (max-width: 900px) {
  .postcontent {
    padding-top: 80px;
    padding-left: 0px;
  }
}

/*** Darstellung Smartphone-Menu ***/
/*
@media screen and (max-width: 400px) {
  .postcontent {
    padding-top: 100px;
    padding-left: 0px;
  }
}
*/
